.row:after,
.row:before,
.ai-row:after,
.ai-row:before {
  content: " ";
  display: table;
  clear: both;
}
.row,
.ai-row {
  padding: 0 15px;
}
.row form,
.ai-row form,
.row form.ai-form,
.ai-row form.ai-form {
  padding: 15px 0;
}
.row form .row,
.ai-row form .row,
.row form.ai-form .row,
.ai-row form.ai-form .row,
.row form .ai-row,
.ai-row form .ai-row,
.row form.ai-form .ai-row,
.ai-row form.ai-form .ai-row {
  padding: 0;
}
.col {
  float: left;
}
.col-1 {
  width: 8.333333333333334% !important;
}
.col-2 {
  width: 16.666666666666668% !important;
}
.col-3 {
  width: 25% !important;
}
.col-4 {
  width: 33.333333333333336% !important;
}
.col-5 {
  width: 41.66666666666667% !important;
}
.col-6 {
  width: 50% !important;
}
.col-7 {
  width: 58.333333333333336% !important;
}
.col-8 {
  width: 66.66666666666667% !important;
}
.col-9 {
  width: 75% !important;
}
.col-10 {
  width: 83.33333333333334% !important;
}
.col-11 {
  width: 91.66666666666667% !important;
}
.col-12 {
  width: 100% !important;
}
