ai-modals {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
ai-modals .modal {
  position: absolute;
  margin: 0 1em;
  padding: 1em;
  background: #f7f7f7;
}
@media all and (min-width: 0px) {
  ai-modals .modal.xs-1 {
    width: 10%;
    margin-left: 45%;
    margin-right: 45%;
  }
  ai-modals .modal.xs-2 {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
  }
  ai-modals .modal.xs-3 {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
  }
  ai-modals .modal.xs-4 {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
  }
  ai-modals .modal.xs-5 {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
  ai-modals .modal.xs-6 {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
  ai-modals .modal.xs-7 {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  ai-modals .modal.xs-8 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  ai-modals .modal.xs-9 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  ai-modals .modal.xs-10 {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
}
@media all and (min-width: 480px) {
  ai-modals .modal.sm-1 {
    width: 10%;
    margin-left: 45%;
    margin-right: 45%;
  }
  ai-modals .modal.sm-2 {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
  }
  ai-modals .modal.sm-3 {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
  }
  ai-modals .modal.sm-4 {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
  }
  ai-modals .modal.sm-5 {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
  ai-modals .modal.sm-6 {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
  ai-modals .modal.sm-7 {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  ai-modals .modal.sm-8 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  ai-modals .modal.sm-9 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  ai-modals .modal.sm-10 {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
}
@media all and (min-width: 720px) {
  ai-modals .modal.md-1 {
    width: 10%;
    margin-left: 45%;
    margin-right: 45%;
  }
  ai-modals .modal.md-2 {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
  }
  ai-modals .modal.md-3 {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
  }
  ai-modals .modal.md-4 {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
  }
  ai-modals .modal.md-5 {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
  ai-modals .modal.md-6 {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
  ai-modals .modal.md-7 {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  ai-modals .modal.md-8 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  ai-modals .modal.md-9 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  ai-modals .modal.md-10 {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
}
@media all and (min-width: 1280px) {
  ai-modals .modal.lg-1 {
    width: 10%;
    margin-left: 45%;
    margin-right: 45%;
  }
  ai-modals .modal.lg-2 {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
  }
  ai-modals .modal.lg-3 {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
  }
  ai-modals .modal.lg-4 {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
  }
  ai-modals .modal.lg-5 {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
  ai-modals .modal.lg-6 {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
  ai-modals .modal.lg-7 {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  ai-modals .modal.lg-8 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  ai-modals .modal.lg-9 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  ai-modals .modal.lg-10 {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
}
@media all and (min-width: 1600px) {
  ai-modals .modal.xl-1 {
    width: 10%;
    margin-left: 45%;
    margin-right: 45%;
  }
  ai-modals .modal.xl-2 {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
  }
  ai-modals .modal.xl-3 {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
  }
  ai-modals .modal.xl-4 {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
  }
  ai-modals .modal.xl-5 {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
  ai-modals .modal.xl-6 {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
  ai-modals .modal.xl-7 {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  ai-modals .modal.xl-8 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  ai-modals .modal.xl-9 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  ai-modals .modal.xl-10 {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
}
ai-modals .modal .modal-footer {
  text-align: right;
  padding: 10px 0 0 0;
}
ai-modals .modal.ng-enter {
  animation: 0.5s showSlideUp;
}
ai-modals .modal.ng-leave {
  animation: 0.5s hideSlideUp;
}
ai-modals.ng-hide-remove {
  animation: 0.5s fadeIn;
}
ai-modals.ng-hide-add {
  animation: 0.5s fadeOut;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes showSlideUp {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}
@keyframes hideSlideUp {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}
