@xs-viewport: 0px;
@sm-viewport: 480px;
@md-viewport: 720px;
@lg-viewport: 1280px;
@xl-viewport: 1600px;
@max-grid-columns: 10;

ai-modals {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    overflow: auto;
    background-color: rgba(0, 0, 0, .5);
    .modal {
        position: absolute;
        margin: 0 @font-size;
        padding: @font-size;
        background: lighten(@base-color, 6%);
        @media all {
            @media (min-width: @xs-viewport) {
                .generate-viewport(xs);
            }
            @media (min-width: @sm-viewport) {
                .generate-viewport(sm);
            }
            @media (min-width: @md-viewport) {
                .generate-viewport(md);
            }
            @media (min-width: @lg-viewport) {
                .generate-viewport(lg)
            }
            @media (min-width: @xl-viewport) {
                .generate-viewport(xl);
            }
        }
        .modal-header {

        }
        .modal-body {
            //margin: @font-size;
            //padding: @font-size;
            //background: lighten(@base-color, 6%);
        }
        .modal-footer {
            text-align: right;
            padding: 10px 0 0 0;
        }
        &.ng-enter {
            animation: @transition-time + 0.25 showSlideUp;
        }
        &.ng-leave {
            animation: @transition-time + 0.25 hideSlideUp;
        }
    }
    &.ng-hide-remove {
        animation: @transition-time + 0.25 fadeIn;
    }
    &.ng-hide-add {
        animation: @transition-time + 0.25 fadeOut;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes showSlideUp {
    0% {
        top: -100%;
    }
    100% {
        top: 0;
    }
}

@keyframes hideSlideUp {
    0% {
        top: 0;
    }
    100% {
        top: -100%;
    }
}

@max-grid-columns: 10;

.generate-column(@prefix, @i: 1) when(@i <= @max-grid-columns) {
    &.@{prefix}-@{i} {
        @w: @i * (100% / @max-grid-columns);
        @m: (100% - @w) / 2;
        width: @w;
        margin-left: @m;
        margin-right: @m;
    }
    .generate-column(@prefix, @i + 1);
}

.generate-viewport(@prefix) when not(@prefix = '') {
    .generate-column(@prefix);
}