@font-face {
    font-family: 'Akrobat';
    src: local('Akrobat Thin'), local('Akrobat-Thin'), url('akrobat/Akrobatthin.woff2') format('woff2'), url('akrobat/Akrobatthin.woff') format('woff'), url('akrobat/Akrobatthin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Akrobat';
    src: local('Akrobat ExtraLight'), local('Akrobat-ExtraLight'), url('akrobat/Akrobatextralight.woff2') format('woff2'), url('akrobat/Akrobatextralight.woff') format('woff'), url('akrobat/Akrobatextralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Akrobat';
    src: local('Akrobat Light'), local('Akrobat-Light'), url('akrobat/Akrobatlight.woff2') format('woff2'), url('akrobat/Akrobatlight.woff') format('woff'), url('akrobat/Akrobatlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Akrobat';
    src: local('Akrobat'), local('Akrobat-Regular'), url('akrobat/Akrobat.woff2') format('woff2'), url('akrobat/Akrobat.woff') format('woff'), url('akrobat/Akrobat.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Akrobat';
    src: local('Akrobat SemiBold'), local('Akrobat-SemiBold'), url('akrobat/Akrobatsemibold.woff2') format('woff2'), url('akrobat/Akrobatsemibold.woff') format('woff'), url('akrobat/Akrobatsemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Akrobat';
    src: local('Akrobat Bold'), local('Akrobat-Bold'), url('akrobat/Akrobatbold.woff2') format('woff2'), url('akrobat/Akrobatbold.woff') format('woff'), url('akrobat/Akrobatbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Akrobat';
    src: local('Akrobat ExtraBold'), local('Akrobat-ExtraBold'), url('akrobat/Akrobatextrabold.woff2') format('woff2'), url('akrobat/Akrobatextrabold.woff') format('woff'), url('akrobat/Akrobatextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Akrobat';
    src: local('Akrobat Black'), local('Akrobat-Black'), url('akrobat/Akrobatblack.woff2') format('woff2'), url('akrobat/Akrobatblack.woff') format('woff'), url('akrobat/Akrobatblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
