@font-face {
    font-family: 'Fira Mono';
    src: local('Fira Mono'), local('FiraMono'), url('firamono/firamono.woff2') format('woff2'), url('firamono/firamono.woff') format('woff'), url('firamono/firamono.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Fira Mono';
    src: local('Fira Mono Bold'), local('FiraMono-Bold'), url('firamono/firamonobold.woff2') format('woff2'), url('firamono/firamonobold.woff') format('woff'), url('firamono/firamonobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
